:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --colore-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,129,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
   
    --card-border-radius:2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
   
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
   
    --box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.158);
   }
   .dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

main{
    margin-top: 2rem;
    width: 100%;
    max-width: 1100px;
}
.main h1 {
   
}
 main .insights .sales {
     width: 33%;
     max-width: 400px;
 }
 main .insights .income{
     width: 33%;
     max-width: 400px;
 }
 main .insights .expenses{
     width: 34%;
     max-width: 400px;
 }

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input [type="date"] {
    background: transparent;
    color:var(--color-dark);    
}

main .insights{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
}

main .insights > div {
    background: var(--color-white);
    padding: 30px;
    border-radius: 3rem;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0px 0px 12px var(--color-light);
    transition: all 300ms ease;
}
main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expenses span {
    background: var(--color-danger);
}
main .insights > div.income span {
    background: #41f1b6;
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
     stroke-dashoffset: -30;
     stroke-dasharray: 200;
}
main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}
main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}

/*==========================order====================*/

main .recent-orders {
    margin-top: 2rem;
    width: 100%;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: 0px 0px 18px var(--color-light);
    transition: all 300ms ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody th:last-child td {
    border: none;
}

main a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
